.card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-inline: auto;
    
    background-color: #fff;
    margin-bottom: 10rem;
}

.image {
    width: 100%;
    height: auto;
    background:  linear-gradient(45deg, rgb(252, 157, 157) , rgb(162, 162, 254));
    object-fit: cover;
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
    margin-inline: auto;
    border-bottom: 1px solid rgb(155, 154, 154);
}

.text_div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 20px;
   
}

.heading {
        background-color: rgb(136, 206, 187);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    text-align: center;
    height: 20px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.631);
    font-size: 1.2rem;
   
}

.subHeading {
     color:rgb(136, 165, 206);
 font-size: 1.2rem;
 margin-left: .5rem;
margin-bottom: 1rem;
}

.paragraph {
     color: rgb(158, 174, 184);
   text-wrap: balance;
   font-size: 1rem;
}

.circle {
    background-color: rgba(0, 0, 0, 0.817);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    position: relative;
    left: 80%;
    transition: transform 0.5s linear;
}

.arrow {
    color: #fff;
    margin-left: 5px;
    font-size: 22px;
}

.circle:hover {
    transform: rotate(-45deg);
}



