.cardSection {
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 5rem;
  font-family: monospace;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  text-emphasis: "x";
   text-emphasis-position: under right;
   text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.698);
}

.work_div {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 90vw;
 justify-content: center;
  gap: 20%;
  margin-bottom: 2rem;
  gap: 4rem;
}
.card {
  max-width: 300px;
  width: 100%;
  height: auto;
  border: 2px solid rgba(249, 248, 248, 0.676);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.img_div {
  width: 100%;
  height: 70%;
  align-self: center;
}
.img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(
    45deg,
    rgb(253, 189, 189) 50%,
    rgb(157, 157, 247) 50%
  );
  border-bottom: 2px solid rgba(249, 248, 248, 0.676);
  background-position: center;
}
.text_div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 1rem;
  padding: 1rem;
}
.framework {
  background-color: rgb(136, 206, 187);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  text-align: center;
  height: 20px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.631);
  font-size: 1.2rem;

  transition: transform 0.3s ease;
}

.sub_title {
  font-size: 16px;
  color: rgb(136, 165, 206);
  font-family: sans-serif;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.paragraph {
  color: rgb(158, 174, 184);

  transition: transform 0.3s ease;
  line-height: 20px;
}
.circle {
  background-color: rgba(0, 0, 0, 0.817);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  position: relative;
  left: 80%;
  opacity: 0;
  transition: opacity  0.5s linear;
  transition: transform 1s ease;
}

.arrow {
  color: #fff;
  margin-left: 5px;
  font-size: 22px;
}

.card:hover .circle {
  opacity: 1;
}

.circle:hover {
  transform: rotate(-45deg);
}
