

.cardSection {
 
    margin-left: auto;
    margin-right: auto;

}
.title {
    margin-bottom: 5rem;
    font-family: monospace;
    font-weight: 700;
    font-size: clamp(20px, 3.5vw, 30px);
    text-align: center;
   text-emphasis: "x";
   text-emphasis-position: under right;
    text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.698);
}

.work_div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    gap: 2rem;
    transition: wrap 2s linear;
}
.card {
 
    
    width:300px;
    height: fit-content;
    border: 2px solid rgba(249, 248, 248, 0.676);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}
.img_div {
    width:100%;
    height: auto;
    align-self: center;
    margin-bottom: .5rem;
}
.img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(45deg, rgb(253, 189, 189) 50%, rgb(157, 157, 247) 50%);
     border-bottom: 2px solid rgba(249, 248, 248, 0.676);
     background-position: center;
}
.text_div {
    width: 100%;
    height: auto;
    padding-right: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.framework {

    background-color: rgb(136, 206, 187);
    padding:  5px 2px;
    width: 30%;

    border-radius: 10px;
    text-align: center;
   
    font-size: clamp(15px, 2.5vw, 40px);
    color: rgba(0, 0, 0, 0.591);
    
    letter-spacing: 2px;
    transition: transform .3s ease;
}

.sub_title {

    font-size: 16px;
    color:rgb(136, 165, 206);
      font-family:  sans-serif;
    transition: transform .3s ease-in-out;
}

.paragraph{ 
   
 
   color: rgb(158, 174, 184);
   margin-bottom: 1rem;
   transition: transform .3s ease;
    line-height: 20px;
    text-wrap: balance;
}

.circle {
    background-color: rgba(0, 0, 0, 0.817);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.5s linear;
    opacity: 0;
}

.arrow {
    color: #fff;
    margin-left: 0px;
    font-size: 22px;
    position: relative;
    top:-3px;
}

.card:hover .circle {
    opacity: 1;
}

.circle:hover {
    transform: rotate(-45deg);
}