* {
  margin: 0;
  padding: 0;
}
:root {
  --color: rgb(120, 65, 248);
  --font-family: helvetica;
}


  .nav {
    display: flex;
    height: 70px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 1002;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100px;
    align-items: center;
    cursor: pointer;
  }

  .menu_item {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--color);
    border: none;
  }

  .translateButton {
    transform: translate(0px, 9.5px) rotate(45deg);
  }

  .antiTranslateButton {
    transform: rotate(-45deg);
  }

  .hideButton {
    display: none;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
  }

  .side_menu {
    max-width: 250px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(0);
    animation: slideIn 0.3s linear forwards;
    box-shadow: -5px 0px 5px 5px white(248, 248, 248, 0.198);
    z-index: 100;
  }

  .list {
    margin-top: 110px;

    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
    height: 100%;
  }

  .list li {
    list-style: none;
    color: var(--color);
    font-size: 24px;
    font-family: var(--font-family);
    margin: 1rem auto;
    width: 50%;
  }
 a{
    text-decoration: none;
    color: rgb(120, 65, 248);
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
