.container {
    text-align: center;
    margin-inline: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.heading {
    margin-bottom: 2.5rem;
    font-family: "Inter";
    color: #484848;
    font-weight: 900;
    margin-bottom: 2.5rem;
}

.heading h2 {
    font-size: 32px;
}

.tools_container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    margin-bottom: 2rem;
}

.scroller {
    display: flex;
    padding-block: 1rem;
    flex-wrap: nowrap;
    gap: 6rem;
    animation: scroll 40s linear infinite;
    width: max-content;
}

.tools {
    width: 50px;
    height: 50px;

}


@keyframes scroll {
    100% {
        transform: translate(calc(-50% - 3rem));
    }
}