.container {
    width: 100%;
  
    margin-left: auto;
    margin-top: 5rem;
    font-family: monospace;
    margin-bottom: 5rem;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.heading {
    margin-left: 11rem;
    margin-bottom: 5rem;
    animation: shaking 5s linear infinite;
}

.card_container {

    text-align: center;
    width: 280px;
    height: max-content;
    background-color: rgb(243, 240, 240);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 1px rgba(205, 204, 204, 0.99);


    animation: moving 5s linear infinite;
}

.card_container:hover {
    transform: scale(1.1);
    animation: stop 5s linear infinite;


}


.img_container {
    border: 1px solid whitesmoke;
    width: 280px;
    height: 250px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid snow;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.title {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 32px;
    margin-top: 20px;
}


.text_div {
    width: 40%;
    text-align: left;
}

.text_div>p {
    font-size: 22px;
}
p:nth-child(3) {
    margin-bottom: 2rem;
}

p:nth-child(4) {
    margin-bottom: 2rem;
}

span:nth-child(2) {
    color: rgb(151, 243, 151);
}

span:nth-child(3) {
    color: rgba(96, 246, 253, 0.713);
}
.text_div .india {
  background: linear-gradient(
    180deg,
    rgba(255, 153, 51, 1) 46%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 60%,
    rgba(19, 136, 8, 1) 62%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes moving {
    from {
        transform: rotate(-2deg);

    }

    to {
        transform: rotate(1deg);
    }
}

@keyframes stop {
    from {
        transform: rotate(2deg);
    }

    to {
        transform: rotate(-2deg);
    }
}

@keyframes shaking {
    from {
        transform: translate(5px);
    }

    to {
        transform: translate(-5px);
    }
}