:root {
    --color: rgb(136, 86, 253);
    --font-family: "Inter";
}
html {
  scroll-behavior: smooth;
}

.nav {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color:#f2f2f2;
    margin-bottom: 2rem;

    
}

.list {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
    height: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 10px 0px;
    margin-bottom: 1rem;
    z-index: 1000;
    background-color:#f2f2f2;
}

.list_item {
    list-style: none;
    font-size: 20px;
    font-family:  Helvetica, sans-serif;
    color: var(--color);
    font-weight: 305;
    position: relative;
    transition: text-decoration 1s ease;
   
}

.list_item::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(136, 86, 253);
    position: absolute;
    top:110%;
    left: 0;
    bottom: 0;
    opacity: 0;
   transition: opacity 1s ease;

}

.list_item:hover::after {
    opacity: 1;
     transform: translate(0); 
     animation: slideIn 0.3s linear ;
  
}

.navLink {
    text-decoration: none;
    color: rgb(136, 86, 253);
}
.navLink:active {
   color: rgb(136, 86, 253);
}
.anchorLink {
    scroll-behavior: smooth;
    text-decoration: none;
    color: rgb(136, 86, 253);
}



@keyframes slideIn {
    from {
       transform: translate(-55px); 
    } to {
         transform: translate(0); 
    }
}
@keyframes slideout {
    from {
       transform: translate(0); 
    } to {
         transform: translate(-55px); 
    }
}