.body {
  
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    font-family: monospace;
    gap: 2rem;
}

.info_div {
    width: clamp(35%, 45%, 49% );
    padding: 0 25px;
   
}

.title {
    font-size: clamp(1rem, 5vw, 3rem);;
    margin-bottom: 1rem;
    line-height: 0.9;

}

.paragraph {
    font-size:clamp(1rem, 1.5vw, 2rem);;
}

span {
    color: rgb(136, 86, 253);
    font-weight: 600;

}

.paragraph > span:nth-child(2) {
    color: #F29813;
}

.paragraph > span:nth-child(3) {
    color: #93C02D ;
    font-weight: 600;
}

.btn_resume {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: rgb(136, 86, 253);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid rgb(136, 86, 253);
    font-weight: lighter;
    font-family: monospace;
    position: relative;
    margin-right: 0;
    text-align: left;

   
}


.btn_resume:hover {
    width: 150px;
    margin-right: 1rem;
}

.btn_resume::after {
    content: '';
    opacity: 0;
    transform: translateX(-5px);
    transition: all 1s ease;
}

.btn_resume:hover::after {
    content: '\2192';
    position: absolute;
    width: 100px;
    height: fit-content;
    display: inline-block;
    margin-left: 1rem;
    opacity: 1;
    transform: translateX(5px);

}