.body {
    /* margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center; */
    padding: 1rem;
    font-family: "Inter";
    margin-inline: auto;
    text-align: center;
}

.info_div {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    justify-content: center;
    padding: 0 20px;
}

.title {
    font-size: clamp(1rem,8vw, 3rem);
    margin-bottom: 2rem;
    color: #333;
    font-family: Helvetica, sans-serif;
}

.paragraph {
    font-size: clamp(1rem, 4vw, 2rem);
    line-height: 2;
      
}

span {
    color: rgb(136, 86, 253);
    font-weight: 600;

}

.paragraph > span:nth-child(2) {
    color: #F29813;
}

.paragraph > span:nth-child(3) {
    color: #93C02D ;
    font-weight: 600;
}



.btn_resume {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: rgb(136, 86, 253);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid rgb(136, 86, 253);
    font-weight: lighter;
    font-family: monospace;
    position: relative;
    margin-right: 0;
    text-align: left;
    width: 120px;
   
}


.btn_resume:hover {
    width: 150px;
    margin-right: 1rem;
}

.btn_resume::after {
    content: '';
    opacity: 0;
    transform: translateX(-5px);
    transition: all 1s ease;
}

.btn_resume:hover::after {
    content: '\2192';
    position: absolute;
    width: 100px;
    height: fit-content;
    display: inline-block;
    margin-left: 1rem;
    opacity: 1;
    transform: translateX(5px);

}
span:nth-child(2) {
    color: #F29813;
}