.container {
    text-align: center;
    margin: 10rem auto;
    
}

.heading {
    margin-bottom: 2.5rem;
    font-family: monospace;
    font-size: clamp(12px, 3vw, 30px);
    font-weight: 900;
    text-wrap: balance;
}

.heading h2 {
    font-size:clamp(1.25rem, 3vw, 1.5rem );
}

.tools_container {

    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    margin-bottom: 2rem;
}

.scroller {
    display: flex;
    padding-block: 1rem;
    flex-wrap: nowrap;
    gap: 6rem;
    animation: scroll 40s linear infinite;
    width: max-content;
}

.tools {
    width:clamp(40px, 5vw, 50px);
    height: auto;

}


@keyframes scroll {
    100% {
        transform: translate(calc(-50% - 3rem));
    }
}