html {
  font-size: 0.9em;
}
h1,
li,
nav,
td {
  padding: 4px;
}

html {
  font-family: "Courier New", monospace;
}
h1 {
  border-bottom: solid 1px;

}
h1,
li,
nav,
td {
  padding: 3px;
}
li {
  list-style-type: square;
}
td {
  min-width: 230px;
  text-wrap: balance;
}
a {
  text-decoration: none;
  color: #2080e0;
}
a:hover {
  text-decoration: underline;
}
header {
  text-align: center;
 
}
header span {
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-align: center;
}
section {
  max-width: 920px;
  width: 80%;
  margin: 0 auto;
}
.entry {
  text-align: right;
  padding-right: 15px;
}

li,
.entry {
  line-height: 1.5;
}
.profile_p {
  margin-top: 1rem;
}
.profile_last_p {
  margin-bottom: 1rem;
} 
tr {
  width: fit-content;
}


@media screen and (max-width: 568px){
  header {
    width: 100%; 
  }

  section {
    width:90%;
    padding: 1rem;
    text-align: left;
    
  }
  .entry {
    text-align: center;
  } 
  table {
    padding-inline: 1rem ;
  } 
  .project_body{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  td li {
    text-align: center;
    list-style-position: inside;
  }

}