*{
  margin: 0;
  padding: 0;
}

.desktop {
  display: block;

}
.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;

  }
  .mobile {
    display: block;
  }
}
